h1{
  color: aliceblue;
}

h2{
  background-color: red;
  padding: 5px;
}

marquee{
  font-size: 20;
}

.pog{
  background-color: orangered;
  padding: 10px;
  font-size: 15px;
  border-style: hidden;
  border-radius: 10px;
}
