h1{
  animation: pulse 2s infinite;
  animation-direction: alternate;
}
@keyframes pulse{
  0% {
    color: red;
  }
  50% {
    color: blue;
  }
  100% {
    color: green;
    transform: scale(.9);
  }
}
canvas{
  background-color: yellow;
}
