*{
  box-sizing: border-box;
}

h1{
  animation: pulse 2s infinite;
  animation-direction: alternate;
  font-family: sans-serif;
  transform-origin: 25% 10%;
  text-emphasis: bold;
}

@keyframes pulse{
  0%{
    color: red;
  }
  25%{
    color: purple;
  }
  50%{
    color: blue;
    transform: scale(.6);
  }
  100%{
    color: cyan;
    transform: scale(.75);
  }
}

canvas{
  background-color: khaki;
}

h2{
  font-variant: small-caps;
}

.project{
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: white;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 220px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  box-shadow: 0 9px #999;
}

.project span{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.project span:after{
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.project:hover span{
  padding-right: 25px;
}

.project:hover span:after{
  opacity: 1;
  right: 0;
}

.project:active{
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
