h1{
  animation: pulse 2s infinite;
  animation-direction: alternate;
  font-family: sans-serif;
  transform-origin: 25% 10%;
  text-emphasis: bold;
}

@keyframes pulse{
  0%{
    color: red;
  }
  25%{
    color: purple;
  }
  50%{
    color: blue;
    transform: scale(.6);
  }
  100%{
    color: cyan;
    transform: scale(.75);
  }
}

canvas{
  background-color: khaki;
}

h2{
  font-variant: small-caps;

}
